<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h2>Vertical (basic) form</h2>
    <form role="form" id="medicare">
      <div class="form-group">
        <label for="symptom">Symptom:</label>
        <input type="text" class="form-control" id="symptom" name="symptom" placeholder="Enter symptom">
      </div>
      <button onclick="sendAjax()" class="btn btn-default">Submit</button>
    </form>
  </div>

  <p id="show_result">
  </p>

</body>
<script>
  $("#medicare").submit(function(e) {
        e.preventDefault();
      });
</script>
<script type="text/javascript" src="/javascripts/form.js"></script>
</html>
